a:hover {
    text-decoration: none;
}
h2 a {
    color: #805A3B;
    transition: all 0.3s ease 0s;
}
h2 a:hover {
    color: #805A3B;
    opacity: 0.5;
}
.card-body {
    position: relative;
}
.blog-post-body {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.blog-post-tag{
    list-style: none;
    padding: 0;
     clear: both;
}
.blog-post-tag li {
    display: inline-block;
    transition: all 0.3s ease 0s;
}
.blog-post-tag a {
    line-height: 26px;
    position: relative;
    display: inline-block;
    height: 26px;
    margin: 0 0px 10px 10px;
    padding: 0 20px 0 23px;
    -webkit-transition: color 0.2s;
            transition: color 0.2s;
    text-decoration: none;
    color: ivory;
    border-radius: 3px;
    background-color: #805A3B;
}
.blog-post-tag a::before,
.blog-post-tag a::after {
    background: #FEF2E4;
}

.blog-post-tag a::before {
    position: absolute;
    top: 10px;
    left: 6px;
    width: 6px;
    height: 6px;
    content: '';
    border-radius: 10px;
}

.blog-post-tag a::after {
    position: absolute;
    top: -1;
    left: -7px;;
    width: 0;
    height: 0;
    content: '';
    border-style: solid;
    border-width: 13px 8px 13px 0;
    border-color: transparent #805A3B transparent transparent;
    border-radius: 4px;

}
.blog-post-tag a:hover {
    background-color: #805A3B;
    color: ivory;
    opacity: 0.5;
}
.blog-post-tag a:hover:after {
    border-color: transparent #805A3B transparent transparent;
    opacity: 0.5;
}
.btn-action {
    height: 40px;
    background-color: #FD974F;
    transition: all 0.3s ease 0s;
}
.btn-action a {
    color: ivory;
}

.btn-action:hover {
    color: #FD974F;
    opacity: 0.5;
}
.card {
    background-color: #FEF2E4;
    border: 2px solid #805A3B;
}

/* この50%はどこで使っているか確認する */
.img-thumnail {
    width: 50%;
}

/* Add Post */
.img_pre img{
    margin-top: 10px;
    margin-right: 10px;
    width: 200px;
    height: 150px;
}

/* Slide Image */
#slide {
    position: relative;
}
#slide .img-modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    /* 画像リサイズ */
    width: 380px;
    height: 280px;
    object-fit: contain;
}
/* Modal */
.images {
    white-space:nowrap;
    overflow:scroll;
}
.modal-open img {
    width: 400px;
    height: 300px;
}
.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}
.modal-bg {
    background: rgba(128, 90, 59, 0.7);
    height: 100vh;
    position: absolute;
    width: 100%;
}
.modal-content {
    background: #FEF2E4;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
}
a.modal-close {
    margin: 0 0 0 auto;
    padding: 5px;
    z-index: 1;
}
.wr-nav {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-l , #nav-r {
    z-index: 1;
    width: 100%;
    padding: 5px;
}

#nav-r {
    text-align: right;
}

.modal-content .fas {
    color: #805A3B;
}

/* Edit Image */

.image-box {
    height: 150px;
    width: 200px;
    position: relative;
}
.icon-clear {
    color: #444444b0;
    position: absolute;
    top: 5%;
    left: 85%;
}
